/*
0-600px : Phone
 600-900 : Tablet and portrait mode
 900 - 1200: Tablet in landscape mode
 1200-1800: Normal style applied
 1800 - ++ : BigDesktop

ORDER : Base+Typography > general layout + grid > page layout > components

breakpooint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*Selector, to reset the navigator*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* @include respond(phone){
		font-size: 50%;   //1rem = 7px
	} */
  /*On met toujours la plus grand media query en premier*/
  /* 	@include respond(phone){
		font-size: 30%;  //1rem = 8px
	} */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /*Permet de dimensionner les box en incluant le padding */
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      font-size: 50%;
      padding: 0; } }
  @media only screen and (min-width: 112.5em) {
    body {
      font-size: 75%; } }

::selection {
  background-color: #2998ff;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size:1.6rem;*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*Pour contrer l'effet shaky des animations*/
  margin-bottom: 6rem;
  /*Pour creer un espace blanc*/ }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*	
		animation-delay: 3s;
		animation-iteration-count:3; nombre de fois qu'on fait l'animation
		*/ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 2rem;
        font-size: 4rem; } }
  .heading-primary--sub {
    display: block;
    /*Un element bloc va occuper toute la largeur*/
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.2rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #777;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #999; }

.heading-sentence {
  font-size: 2.5rem;
  font-weight: 400; }
  .heading-sentence:not(:last-child) {
    margin-bottom: 3rem; }

.text-indent {
  text-indent: 3rem; }

.text-margin-left {
  margin-left: 3rem; }

.nopadding {
  padding: 0rem !important; }

.text-xsmall-side-padding {
  padding: 0 0.3rem; }

.text-small-side-padding {
  padding: 0 1.3rem; }

.text-medium-side-padding {
  padding: 0 3rem; }

.text-large-side-padding {
  padding: 0 6rem; }

.text-white {
  color: #fff !important; }

.text-grey {
  color: #999; }
  .text-grey--nohover:hover {
    color: #999; }

.text-grey-bold {
  color: gray; }

.text-grey-dark {
  color: #555; }

.notransform {
  text-transform: none !important; }

.heading-center {
  padding-top: 0rem;
  padding-bottom: 2rem;
  font-weight: 600;
  text-transform: uppercase; }
  .heading-center--msmall {
    font-size: 1.7rem; }
  .heading-center--medium {
    font-size: 1.9rem; }
  .heading-center--mlarge {
    font-size: 2.1rem; }
  .heading-center--large {
    font-size: 3rem; }

.paragraph {
  font-size: 1.6rem;
  color: #999;
  text-align: justify;
  margin-top: -2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph__liste-text {
    list-style: square;
    color: #999; }
    .paragraph__liste-text li {
      list-style-position: inside; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-xsmall {
  margin-bottom: 1rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-xsmall {
      margin-bottom: .7rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-msmall {
  margin-bottom: 2.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-msmall {
      margin-bottom: 1.5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.nomargin {
  margin: 0 !important; }

.u-margin-negative-xsmall-top {
  margin-top: -.1rem !important; }

.u-margin-negative-small-top {
  margin-top: -1rem !important; }

.u-margin-small-big {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-padding-large {
  padding: 5rem 10rem; }
  @media only screen and (max-width: 37.5em) {
    .u-padding-large {
      padding: 2rem 5rem; } }

.u-padding-xsmall-vertical {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.u-padding-small-vertical {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.u-padding-medium-vertical {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important; }

.u-padding-large-side {
  padding-right: 10rem;
  padding-left: 10rem; }

.place--absolute {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

.place--75 {
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

.place--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

.description {
  padding: 0 5rem;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .description__map {
    float: right;
    width: 33.33333%;
    border-radius: 3px;
    display: block;
    margin-left: 1.5rem; }
  .description__header {
    font-size: 2rem;
    text-transform: uppercase; }
  .description__paragraph {
    font-size: 1.6rem;
    text-align: justify; }
    .description__paragraph:not(:last-child) {
      margin-bottom: 3rem; }
  .description__link-list {
    list-style: none; }
  .description__link-item {
    margin: 0 1.5rem;
    display: inline-block; }
  .description__textarea {
    width: 100%;
    border: 1px solid #2998ff;
    border-radius: 3px;
    padding: .3rem .5rem;
    resize: none;
    display: inline-block;
    margin-bottom: 1rem;
    outline: none; }
  .description__submit-comment {
    display: block;
    text-align: center;
    padding: .4rem 2rem !important;
    font-size: 1.4rem !important;
    margin: 0 40%;
    width: 20%;
    opacity: .7; }
    .description__submit-comment:hover {
      opacity: 1; }

.header {
  height: 95vh;
  filter: opacity(92%);
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.1), rgba(86, 67, 250, 0.1)), url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  /*L'image reste centree (top, bottom, center)*/
  position: relative;
  /*@media (min-resolution: 192dpi) and (min-width: 37.5em),
			 (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), // support sur safari
			 (min-width: 125em){
		background-image: linear-gradient(
			to right bottom, 
			rgba($color-primary-light,0.8), 
			rgba($color-primary-dark,0.8)) ,
			url(../img/background.jpg);
	}
	*/ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*On shit de 50% de la largeur de la boite*/
    text-align: center;
    width: 80%; }
  .header__arrow-down {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*On shit de 50% de la largeur de la boite*/
    text-align: center;
    backface-visibility: hidden; }
    .header__arrow-down--image {
      height: 3.5rem;
      transition: all .3s; }
      .header__arrow-down--image:hover {
        transform: translateY(1.5rem) scale(1.1); }

.row {
  margin: 0 auto;
  /*center element*/ }
  .row--small {
    max-width: 80rem; }
  .row--medium {
    max-width: 95rem; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 80%;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 3rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem)/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem)/4); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 3rem)/3 + 3rem); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 3rem)/4 + 3rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 3rem)/4 + 2 * 3rem); }

.row-smaller {
  max-width: 80rem;
  margin: 0 auto;
  /*center element*/ }
  .row-smaller:not(:last-child) {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .row-smaller:not(:last-child) {
        margin-bottom: 6rem; } }
  .row-smaller::after {
    content: "";
    display: table;
    clear: both; }
  .row-smaller [class^="col-"] {
    float: left; }
    .row-smaller [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .row-smaller [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row-smaller [class^="col-"] {
        width: 100% !important; } }
  .row-smaller .col-1-of-3 {
    width: calc((100% - 2 * 3rem)/3); }

.footer {
  background-color: #333;
  padding: 3rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__information {
    list-style: none;
    font-size: 2rem;
    font-weight: 600; }
    .footer__information li {
      margin: 1.5rem 0; }
    .footer__information--link {
      text-decoration: none;
      color: #f7f7f7; }
      .footer__information--link:hover {
        color: #f7f7f7; }
  .footer__logo {
    width: 18rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: inherit;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #ff7730;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#ffb900, #ff7730);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  /* transition: all .4s; */ }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ff7730;
  transform: translateX(1rem); }
  .navigation__link:hover img, .navigation__link:active img {
    filter: invert(100%) opacity(0.5) drop-shadow(0 0 0 #ff7730) saturate(1800%); }

.navigation__illustration {
  height: 2.7rem;
  display: inline-block;
  padding: 0 1.2rem;
  filter: invert(100%); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

/* @import "components/bg-video"; */
.btn {
  /*quand on met le curseur dessus*/
  /*quand on clique dessus*/ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .8rem 3rem;
    display: inline-block;
    /*pour que le padding soit lexterieur du cadre*/
    border-radius: 10rem;
    transition: all .1s;
    /*etape pour permettre les transitions sur les etats hover, active*/
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem) scale(1.08);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /*x y blur color*/ }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    /*x y blur color*/ }
  .btn--white {
    background-color: #4180bf;
    color: #fff; }
    .btn--white:hover {
      color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #fff; }
  .btn--blue {
    background-color: #fff;
    color: #4180bf; }
    .btn--blue:hover {
      color: #4180bf; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .2s;
    /*nom duree fonction temps delay*/
    animation-fill-mode: backwards;
    /*on laisse la keyframe 0% jusqu'a la transition*/ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #2998ff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2998ff;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #2998ff;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 49rem; }
  .card__side {
    height: 49rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    /* background-blend-mode:screen; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: url(../img/PCT1.jpg);
      background-position: center; }
    .card__picture--2 {
      background-image: url(../img/PCT2.jpg);
      background-position: center; }
    .card__picture--3 {
      background-image: url(../img/PCT3.jpg);
      background-position: center; }
  .card__heading {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    /* background-color: $color-grey-light-1; */
    color: #777;
    width: 100%;
    text-align: center;
    padding: 1rem .5rem; }
  .card__flag {
    height: 1.6rem;
    margin-right: .5rem;
    float: center; }
  .card__like {
    height: 1.6rem;
    margin-left: .4rem;
    margin-right: .5rem;
    float: center;
    filter: invert(30%); }
  .card__details {
    padding: 0rem 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__description-box {
    text-align: left;
    color: #fff;
    margin-bottom: 4rem; }
  .card__description-heading {
    font-size: 2rem;
    text-transform: uppercase; }
  .card__description-text {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100%;
        transform: translate(0);
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.carte__photo {
  background-size: cover;
  height: 22rem;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.carte__photo--2 {
  background-size: cover;
  height: 15rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center; }

.carte--info {
  position: relative;
  margin: auto 0;
  width: 100%;
  height: 26rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: #4180bf;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 56.25em) {
    .carte--info {
      width: 60%;
      margin: auto; } }

.carte--cours {
  position: relative;
  width: 100%;
  height: 44rem;
  border-radius: 15px;
  overflow: hidden;
  background-color: #f7f7f7;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 56.25em) {
    .carte--cours {
      width: 50%;
      margin: auto; } }
  @media only screen and (max-width: 37.5em) {
    .carte--cours {
      width: 80%;
      margin: auto; } }

.carte--cours-presentation {
  position: relative;
  width: 100%;
  height: 33rem;
  border-radius: 15px;
  overflow: hidden;
  background-color: #4180bf;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 56.25em) {
    .carte--cours-presentation {
      width: 40%;
      margin: auto;
      height: 28rem; } }
  @media only screen and (max-width: 37.5em) {
    .carte--cours-presentation {
      width: 70%;
      margin: auto;
      height: 28rem; } }

#quote-carousel {
  padding: 0 1rem 0rem 1rem;
  margin-top: 1rem; }
  @media only screen and (min-width: 112.5em) {
    #quote-carousel {
      padding: 0 1rem 0rem 1rem;
      width: 100%; } }
  @media only screen and (max-width: 75em) {
    #quote-carousel {
      padding: 0 1rem 5rem 1rem;
      width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    #quote-carousel {
      padding: 0 1rem 28rem 1rem;
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    #quote-carousel {
      padding: 0 1rem 33rem 1rem;
      width: 100%; } }

#quote-carousel .carousel-control {
  background: none;
  color: #CACACA;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px; }
  #quote-carousel .carousel-control:hover {
    color: #999; }

#quote-carousel .carousel-control.left {
  left: -60px; }

#quote-carousel .carousel-control.right {
  right: -60px; }

#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px; }

#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 4px solid #CCC;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  transition: all 0.4s; }

#quote-carousel .carousel-indicators .active {
  background: #333333;
  width: 128px;
  height: 128px;
  border-radius: 100px;
  border-color: #4180bf;
  opacity: 1;
  overflow: hidden; }

.carousel-inner {
  min-height: 30rem; }

.item blockquote {
  border-left: none;
  margin: 0; }

.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 0px; }

.dropdowncontainer {
  width: 100%; }

.select-style {
  border: 1px solid #ccc;
  width: 100%;
  height: 3rem;
  padding: .5rem .8rem;
  border-radius: 3px;
  overflow: hidden;
  opacity: .7;
  background: #999 no-repeat 90% 50%;
  border: 1px solid #333;
  cursor: pointer; }
  .select-style:hover {
    opacity: 1; }

.select-style select {
  width: 110%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  appearance: none; }

.select-style select:focus {
  outline: none; }

.images--full {
  width: 100%; }

.images--large {
  width: 100%;
  padding: 3rem 0; }

.images--medium {
  height: 50%;
  padding: 3rem 0; }

.images--80 {
  width: 80%;
  margin: auto; }

.images--vertical-align {
  vertical-align: middle; }

.filter--invert {
  filter: invert(100%); }

.photo-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: .5%;
  grid-auto-rows: minmax(100px, auto); }
  .photo-grid--picture {
    width: 100%; }

.searchcontainer {
  width: 100%; }

.search {
  padding: 1rem 1rem;
  appearance: none;
  height: 3rem;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
  outline: none;
  background-color: #999;
  opacity: .7;
  border: 1px solid #333;
  cursor: pointer; }
  .search::-webkit-input-placeholder {
    color: black; }
  .search:hover {
    opacity: 1; }

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
  cursor: pointer; }

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 3rem;
  /* Specified height */
  background: #999;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  padding: 1.3rem .8rem;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #333;
  box-shadow: 0 0.2rem 1rem rgba(51, 51, 51, 0.15); }
  .slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */ }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000;
    height: 32px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000, 0px 0px 1px #000;
    /* Add cool effects to your sliders! */ }
  .slider::-moz-range-thumb {
    width: 3rem;
    /* Set a specific slider handle width */
    height: 3rem;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */ }

/*@import "components/feature-box";
@import "components/form";
@import "components/popup";
@import "components/stories"; */
.section-accroche {
  background-color: #4180bf;
  padding: 3rem 0;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-accroche {
      padding: 10rem 0; } }

.section-infos {
  background-color: #f7f7f7;
  padding: 3rem 0;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-infos {
      padding: 3rem 5rem; } }

.section-cours {
  background-color: #4180bf;
  padding: 3rem 0;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-cours {
      padding: 5rem 0; } }

.section-images {
  background-color: #4180bf;
  padding: 3rem 0;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-images {
      padding: 5rem 0; } }

.section-temoignage {
  background-color: #f7f7f7;
  padding: 3rem 0;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-temoignage {
      padding: 5rem 0; } }

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/PCT2.jpg);
  background-size: cover;
  background-position: bottom;
  /*L'image reste centree (top, bottom, center)*/
  margin-top: -20vh;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 25rem 0 10rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0;
  background-color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/PCT2.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 70%, transparent 70%), url(../img/PCT2.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/PCT2.jpg);
      background-size: cover; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 70%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.section-blue {
  background-color: #4180bf;
  padding: 3rem 0;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-blue {
      padding: 10rem 0; } }

.section-grey {
  background-color: #f7f7f7;
  padding: 3rem 0;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-grey {
      padding: 10rem 0; } }

.section-grey-dark {
  background-color: #bbb;
  padding: 3rem 0;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-grey-dark {
      padding: 10rem 0; } }

.list-calendrier {
  width: 25rem;
  list-style: none;
  color: #4180bf;
  font-weight: 700;
  padding: .1rem; }
  .list-calendrier li {
    margin: 0rem;
    padding: 0rem; }
