
//Colors

$color-green : #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;


$color-blue: #4180bf;
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #555;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #bbb;

$color-white: #fff;
$color-black: #000;




//Grid
$grid-max-width: 95rem; // 114rem
$grid-max-width-small: 80rem;

$gutter-vertical: 3rem;

$gutter-vertical-small: 6rem;

$gutter-horizontal: 3rem;



//Font

$default-font-size: 1.6rem;


//image

$border-radius: 3px;


//slider

$slider-size: 3rem;