.btn{
	&,
	&:link,
	&:visited{
		text-transform: uppercase;
		text-decoration: none;
		padding: .8rem 3rem;
		display: inline-block; /*pour que le padding soit lexterieur du cadre*/
		border-radius: 10rem;

		transition: all .1s; /*etape pour permettre les transitions sur les etats hover, active*/
		position: relative;

		font-size: $default-font-size;


		//change for the <button>
		border:none;
		cursor: pointer;
	}

	/*quand on met le curseur dessus*/
	&:hover{
		transform: translateY(-.3rem) scale(1.08);
		box-shadow: 0 1rem 2rem rgba($color-black,.2);/*x y blur color*/
	}

	/*quand on clique dessus*/
	&:active,
	&:focus{
		outline:none;
		transform: translateY(-.1rem);
		box-shadow: 0 .5rem 1rem rgba($color-black,.2);/*x y blur color*/
	}

	&--white{
		background-color: $color-blue;
		color: $color-white;

		&:hover{
			color: $color-white;
		}
	}
	
	&--green{
		background-color: $color-green;
		color: $color-white;

		&::after{
			background-color: $color-white;
		}
	}

	&--blue{
		background-color: $color-white;
		color: $color-blue;

		&:hover{
			color: $color-blue;
		}
	}


	&--animated{
		animation:moveInBottom .5s ease-out .2s; /*nom duree fonction temps delay*/
		animation-fill-mode: backwards; /*on laisse la keyframe 0% jusqu'a la transition*/
	}
}


.btn-text{
	&:link,
	&:visited{
		font-size: $default-font-size;
		color:$color-blue-light;
		display:inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-blue-light;
		padding: 3px;

		transition: all .2s;
	}
	
	&:hover{
		background-color: $color-blue-light;
		color:$color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform: translateY(-2px);
	}

	&:active{
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		transform:translateY(0);
	}

}

























