.searchcontainer{
	width:100%;
	
}

.search{
	padding: 1rem 1rem;
	appearance: none;
	height: 3rem;
	width:100%;
	display: inline-block;
	border-radius: 3px;
	outline:none;
	background-color: $color-grey-dark-2; 
	opacity: .7;
	border: 1px solid $color-grey-dark-3;
	cursor: pointer;

	&::-webkit-input-placeholder{
		color:black;
	}

	&:hover{
		opacity: 1;
	}
	


}