.slidecontainer {
    width: 100%; /* Width of the outside container */
    cursor: pointer;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3rem; /* Specified height */
    background: $color-grey-dark-2; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    padding: 1.3rem .8rem;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid $color-grey-dark-3;
    
    box-shadow: 0 .2rem 1rem rgba($color-grey-dark-3, .15);

    &:hover{
        opacity: 1;/* Fully shown on mouse-over */
    }

    &::-webkit-slider-thumb {
         -webkit-appearance: none;
          border: 1px solid $color-black;
          height: 32px;
          width: 16px;
          border-radius: 3px;
          background: #ffffff;
          cursor: pointer;
          box-shadow: 1px 1px 1px $color-black, 0px 0px 1px $color-black; /* Add cool effects to your sliders! */    
    }

    &::-moz-range-thumb {
        width: $slider-size; /* Set a specific slider handle width */
        height: $slider-size; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }
}




